.buttonsContent {
    display: flex;
    justify-content: center;
  }
  
  .buttonsIntro {
    margin : 15px;
    font-size: 27px
  }

#buttonInicio {
  background-color: #5A7202;
  width: 110px
}

#buttonDesayuno{
  background-color: #AE2506;
  /* position: relative;
    left: 300px;
    top: -63px; */
}

#prueba{
  position: relative;
  left: 350px;
  top: -63px;
  display: flex;
}

#buttonAlmuerzo{
  background-color: orangered
}

#buttonComandas{
  background-color: #243540
}

.buttonsInicio {
  margin: 10px;
  color : white;
  font-size: 20px;
  text-align: center
}