.breakfastCards {
    color: white;
    background-color: #F27304;
    margin : 15px;
    display: flex;
    font-size: 20px;
    max-width: 130 px;
}

.breakfastMenu {
    background: url(../images/meseros-02.jpg);
  height: 551px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: flex;
}

.breakfastContentCards {
    margin: 20px;
}